# Django migrations (игнорировать все, кроме __init__.py)
**/migrations/*.py
!**/migrations/__init__.py

# Python cache (включая management/commands)
**/__pycache__/
*.py[cod]

# Статика и медиа
staticfiles/
media/

# Специфичные пути для Windows
equipment/management/commands/__pycache__/


# Остальные настройки (пример)
.env
.venv/
venv/
.vscode/
.idea/
*.log
.env.local
